<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">

    <title>Book Library</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">

    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/13d829f7a0.js"></script>

</head>

<body class="is-home">

    <header class="header" id="header">
        <nav class="header-top" id="header-panel">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-3 col-xs-2">
                        <h1 class="header__head">Book Library <i class="fa fa-book" aria-hidden="true"></i></h1>

                    </div>
                </div>
            </div>
        </nav>

        <div class="header-center">
            <div class="flex-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <button id="show-add-book-form" class="button header__btn popup-with-form">Добавить
                                книгу</button>
                        </div>
                    </div>
                    <div id="book-list" class="book-l">
                        <div th:each=" book : ${books}">
                            <a href="#" class="book-link" th:attr="data-id=${book.id}" th:text="${book.name}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>

    <div id="book-form">
        <form>
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="form__head">Добавить книгу</h3>
                    <i class="fa fa-book-open" aria-hidden="true"></i>
                </div>
                <div class="col-lg-6">
                    <!-- <label>Название книги:</label>-->
                    <input type="text" name="name" value="" placeholder="Название книги..." required>
                    <!--<label>Год выпуска:</label>-->
                    <input type="text" name="year" value="" placeholder="Год..." required>
                    <hr>
                    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                    <button id="save-book" class="button header__btn popup-with-form">Сохранить</button>
                </div>
        </form>
    </div>



</body>

</html>